<div class="tab-content">
  <div class="tab-pane active" id="visits">
    <h4 class="piechart">Javascript global stats</h4>
    <div class="piechart-container">
      <div id="visits-piechart" class="piechart"></div>
    </div>
    <h4 class="geochart">Javascript country level stats</h4>
    <div class="geochart-container">
      <div id="visits-geochart" class="geochart"></div>
    </div>
  </div>
  <div class="tab-pane" id="impressions">
    <h4 class="piechart">Javascript global stats</h4>
    <div class="piechart-container">
      <div id="impressions-piechart" class="piechart"></div>
    </div>
    <h4 class="geochart">Javascript country level stats</h4>
    <div class="geochart-container">
      <div id="impressions-geochart" class="geochart"></div>
    </div>
  </div>
</div>