<ul class="nav nav-tabs" id="measurement-nav">
  <li class="active" data-measure="users"><a href="#users" data-toggle="tab">By Visits</a></li>
  <li data-measure="pages"><a href="#pages" data-toggle="tab">By Impressions</a></li>
</ul>

<div class="tab-content">
  <% ['users', 'pages'].forEach(function(measure, index) { %>
    <div class="tab-pane <%=index == 0 ? 'active' : ''%>" id="<%=measure%>">
      <h4 class="piechart">Javascript global stats</h4>
      <div class="piechart-container">
        <div id="<%=measure%>-piechart" class="piechart"></div>
      </div>
      <h4 class="geochart">Javascript country level stats</h4>
      <div class="geochart-container">
        <div id="<%=measure%>-geochart" class="geochart"></div>
      </div>
      <div class="region-container">
        <div class="btn-group">
          <button type="button" class="btn btn-default active">World</button>
          <button type="button" class="btn btn-default" data-id="150">Europe</button>
          <button type="button" class="btn btn-default" data-id="019">Americas</button>
          <button type="button" class="btn btn-default" data-id="142">Asia</button>
          <button type="button" class="btn btn-default" data-id="009">Oceania</button>
          <button type="button" class="btn btn-default" data-id="002">Africa</button>
        </div>
      </div>
      <table class="table table-striped country-stats-table sortable">
        <thead>
          <tr>
            <th data-defaultsort='asc' data-defaultsign='az'>Country</th>
            <th>JS enabled</th>
            <th>JS disabled</th>
          </tr>
        </thead>
      </table>
    </div>
  <% }); %>
</div>