<% layout('layouts/default') -%>

<% script('//www.google.com/jsapi') %>
<% script('/javascripts/stats.js') %>

<h1>About this service</h1>

<p class="lead">This is a free statistics service to help the tech community understand the reality of Javascript support in browsers</p>

<p>Whilst planning the redevelopment of <a href="http://econsultancy.com">Econsultancy</a>'s research subscription product, I had to evaluate whether we could completely abandon support for browsers without support for Javascript. Whilst using <a href="http://angularjs.org/">Angular JS</a> to build a rich user experience is certainly appealing, we genuinely have no idea how many of our users don't support Javascript and that worries me.</p>

<p>So I've taken the initiative to provide <strong>Javascript only</strong> analytics service for the tech community with the following in mind:</p>
<ul>
  <li>Adding tracking to your site should be <b>simple</b>, and it is, go to the <a href="/track-your-site">track your site page</a></li>
  <li>All tracking must be anonymous - I don't keep any user data whatsoever.  Transparency is key so the project is <a href="https://github.com/mattheworiordan/scriptstats/blob/master/LICENSE">Open Source</a> and on <a href="https://github.com/mattheworiordan/scriptstats">Github</a>.</li>
  <li>Stats are collated at a global level as well as at a website level.  Every website owner can benefit for free whilst helping to contribute to the global index</li>
  <li>We're keeping stats indexed by month so hopefully in time this website will serve as a relic to the complete demise of browsers without Javascript</li>
</ul>

<p>Feel free to get in touch with me <a href="http://mattheworiordan.com/">Matthew O'Riordan</a> if you have any questions or suggestions.</p>