<% layout('layouts/default') -%>

<% script('//www.google.com/jsapi') %>
<% script('/javascripts/stats.js') %>

<h1>Frequently Asked Questions</h1>

<ul class="faqs">
  <li>
    <h3>Do you store any personally identifiable data?</h3>
    <p>No, we store no data whatsoever relating to the visitors we track.  We believe in complete transparency, feel free to browse our <a href="https://github.com/mattheworiordan/scriptstats">source code</a>.</p>
  </li>
  <li>
    <h3>How reliable is your service?</h3>
    <p>We do our best to keep this service running for free and ensure we have backups of all data.  You can see our <a href="http://uptime.scriptstats.info">uptime reports online</a>.</p>
    <h3>Live performance reports below:</h3>
    <iframe src="https://rpm.newrelic.com/public/charts/4wNy8zVmdJr" width="100%" height="200" scrolling="no" frameborder="no"></iframe>
    <iframe src="https://rpm.newrelic.com/public/charts/3n9oLbnJCwe" width="100%" height="200" scrolling="no" frameborder="no"></iframe>
  </li>
  <li>
    <h3>Why are you providing this for free?</h3>
    <p>It feels good to contribute back to the community. I've gained an incredible amount from the open source community over the years, so I'm doing my bit and contributing back.  I have no intention of making money from this service, I have bigger fish to fry!  Until this service starts costing me a significant amount of money, I'm happy to keep it running.  However, because it's an incredibly lightweight app, it should scale to handle incredibly high loads of traffic cost effectively.</p>
  </li>
  <li>
    <h3>I need a feature</h3>
    <p>Get in touch with <a href="http://mattheworiordan.com/">Matthew O'Riordan</a> if you have an idea for a useful feature that may benefit all our users, however please bear in mind that this service has been intentionally built to be high performant and simple. Generally if you want a feature added, the best way is to <a href="https://github.com/mattheworiordan/scriptstats">create a pull request on Github</a>.</p>
  </li>
</ul>

<p>Feel free to get in touch with <a href="http://mattheworiordan.com/">Matthew O'Riordan</a> if you have any questions.</p>