<% layout('layouts/default') -%>

<% script('//www.google.com/jsapi') %>
<% script('/javascripts/stats.js') %>

<h1>Global Javascript Statistics</h1>

<blockquote>
  <p>Let's be realistic about how many people <em>still</em> don't have Javascript in their browser!</p>
  <small>An atypical front end developer</small>
</blockquote>

<div class="progress progress-striped active">
  <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
    <span class="sr-only">Loading</span>
  </div>
</div>

<div class="alert alert-danger" style="display: none"></div>

<div id="stats-container" class="global">
  <ul class="nav nav-tabs" id="visit-impression-nav">
    <li class="active visits"><a href="#visits" data-toggle="tab">By Visits</a></li>
    <li class="impressions"><a href="#impressions" data-toggle="tab">By Impressions</a></li>
  </ul>

  <%- partial('_stats-container-graphs') %>
</div>