/* Allow for fixed nav at the top */
.nav-space {
  height: 70px;
}

#stats-container {
  display: none;
}

#visit-impression-nav {
  margin-top: 20px;
}

#stats-container h4 {
  margin-top: 20px;
}

.piechart-container, .geochart-container {
  width: 752px;
  border: 1px solid #DDD;
}

.piechart-container
{
  height: 352px;
  margin-bottom: 20px;
}

.geochart-container {
  height: 402px;
}

table.country-stats-table {
  width: 752px;
}

table.country-stats-table small {
  color: #999;
}

#tracking-code {
  display: none;
}

ul.faqs {
  list-style: none;
  padding-left: 0;
  margin: 40px 0 40px 0;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

ul.faqs li {
  padding: 0 20px 10px 20px;
  border-bottom: 1px solid #E0E0E0;
}

ul.faqs li:last-child {
  border-bottom: none;
}

form.track-site {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  max-width: 700px;
}

form.track-site button {
  margin-right: 15px;
}

.footer {
  border-top: 1px solid #DDD;
  margin-top: 40px;
  padding: 20px 0 15px 0;
  background: #FAFAFA;
}

.footer .container {
  font-size: 12px;
  color: #999;
}

.footer .divider {
  padding: 0 0 0 10px;
  margin-right: 10px;
  border-right: 1px solid #AAA;
}

/* boot strap sortable */

table.sortable span.sign {
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 12px;
    margin-top: -10px;
    color: #bfbfc1;
}

table.sortable span.arrow, span.reversed {
    border-style: solid;
    border-width: 5px;
    font-size: 0;
    border-color: #ccc transparent transparent transparent;
    line-height: 0;
    height: 0;
    width: 0;
    margin-top: -2px;
}

    table.sortable span.arrow.up {
        border-color: transparent transparent #ccc transparent;
        margin-top: -7px;
    }

table.sortable span.reversed {
    border-color: transparent transparent #ccc transparent;
    margin-top: -7px;
}

    table.sortable span.reversed.up {
        border-color: #ccc transparent transparent transparent;
        margin-top: -2px;
    }



table.sortable span.az:before {
    content: "a .. z";
}

table.sortable span.az.up:before {
    content: "z .. a";
}

table.sortable span.AZ:before {
    content: "A .. Z";
}

table.sortable span.AZ.up:before {
    content: "Z .. A";
}

table.sortable span._19:before {
    content: "1 .. 9";
}

table.sortable span._19.up:before {
    content: "9 .. 1";
}

table.sortable span.month:before {
    content: "jan .. dec";
}

table.sortable span.month.up:before {
    content: "dec .. jan";
}

table.sortable thead th {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
}

table.sortable thead th:hover:not([data-defaultsort=disabled]) {
    background: #efefef;
}

table.sortable thead th div.mozilla {
    position: relative;
}